
我，一个拉板车的，一个异类中的异类，吃百家饭，穿百衲衣。

我，一个丢失了名字的孩子，一个迷失在外的孩子，一个摸爬滚打在最底层，企图给人生零度偏离的孩子。

我，一个异类，小心握紧自己的名字，企图找到回家的路。

来到开智，和异类相聚，从此，不再怀疑自己。

【七零八落袈裟角，惹得凌霄几片云】

05年，算是初中毕业，中考考的意料之中的差，没有考上县里重点高中，家里不太同意读职高，或者没有太多经济能力继续就读，我心里总有些不甘，有些放不下，我的学习难道生涯就这样结束了，于是我心里暗暗发下宏源，不行我就去出家当和尚，和尚每天就是念念经，没啥事打扰，我就能静心读自己喜欢的书，写自己喜欢的字，就这样吧，了此残生，别无他求。年少哪知愁滋味，对人生，也多幻想，亦多轻狂。

【无奈日子久，保安岁月长】

在一位同学的带领下来到了北京，正式成为一名北漂，初来乍到，别无长技，只能干起了饭店车场保安，那时候真苦，上午十点到晚上九点，一天十几个小时，都在车场指挥停车，是的，在北京朝阳区团结湖南口，我永远记得那个地方，古都北京给我最初的记忆的地方。

06年的夏天真热，地上吐口吐沫，一会儿就蒸发的寻不见踪影，站在大太阳伞下感觉身处火焰山，内心焦躁的恨不得一个筋斗云瞬间飞进云里雾里，好好凉快凉快。那时候雨真大，分分钟让你成为不折不扣的“湿人，常常手握云霓（雨伞）遥接佳人（来吃饭的），那时候心态真好，总觉得这只是我人生中重要的一个经历，总会过去，总会好起来。来来回回跑的抬不动腿，脚磨得血肉模糊，晚上回到地下室集体宿舍，疼的我彻夜难眠，是的，就这样一天天挨过来。

看车场的间隙我避开云山雾罩的闲聊和荤段子，裤兜了踹上一本书法字帖，不忙的时候就瞟上两眼，或者拿起小石头在朝阳北路辅路的地砖上联系写字，总觉得时间不能浪费，总觉得浪费太亏，早上放弃了贪睡，一早拿本书去团结湖公园，找个偏僻的角落，去读，去背，去发呆，耳畔不时响起老爷爷老奶奶做早操的口号声：怀中抱月、一二...  ... 

后来又辗转来到了少年宫，那位同学告诉我，想学东西就要到这儿，各种学习班都有，有时间有机会就去学呗，于是我抱着放弃一半工资的决心，来到了这儿，又干起了小保安，看少年宫里的学生人来人往，羡慕的我牙根发痒，激动的我热泪满眶，好像机会来了。

不过，后来才知道，我是不太可能走进教室学习的，能有的是可充分利用的学习时间，还得靠自学，尽可能把一切能利用的时间都利用上，有一次我在塑料车棚看书，后勤的一位员工略带讽刺的说：“嗨，现在知道用功了，早干嘛去了。”那时候我刚19岁，现在想来，多好的年龄啊。

记得每次巡楼时候，我都主动请缨，因为在巡楼的间隙可以趴在教室外，透过玻璃好好看看自己梦向往之的教室，课桌，偷偷听老师讲课……畅想着自己将来有一天也能坐在教室里……那迫切的眼神和心情我永生难忘，后来在武术家王德明老先生的启发和鼓励下把生活简单化，每天早起5：00起床跑步，回来在保安值班室练习书法，将近三年时间不曾一日中断。在阅读上特别杂，属于饥不择食，吃百家饭，穿百衲衣阶段，《读者》杂志，余秋雨、贾平凹、梁实秋和书画家的谈艺录，看懂的使劲看，看不懂的反复看，从来不考虑学习方法和学习效果，不去想到底想要什么，一味的埋头苦读，就差头悬梁锥刺股了。

至于保安这个处于社会边缘的职业到底是个什么状态，个中滋味，一言难尽，呜呼哀！

是的，这就是我，那时的我，总想看不一样的烟火。

【我，一个拉板车的，嘻嘻】

无奈的保安岁月虽然结束，更心酸的日子才刚开始。

是的，我蹬起了板车，在一个300多平方米的小区超市里，还负责理货、上货、收银、送货上门，一袋盐都可以送，更别说一大箱24瓶的燕京啤酒了，我的天，老板想法真勤快，要把小弟我累坏。有电梯还好，没电梯就直接扛上去。

早上7：00开门，我就6：00起床，以最快的速度洗漱完毕，迅速开始到练习书法，7：00准时去开门“摆摊”，晚上是10：00下班，老板和老板娘愣是磨蹭到10：30甚至更晚，我一天可利用的时间太有限，一个人干三个人的活，中午的休息时间形同虚设，分分钟对我来说太珍贵了，有时候下班洗漱后已经12点多，我常常嚎啕大哭，妈的，时间都让狗给吃了，擦完了泪，继续拿起笔，拿起书，一笔一画，一字一页，写......读......

那时候也没想太多，一张床，一支笔，一张书桌，只要能写字，我就心满意足。总想着，人生嘛，就得能吃苦，你说这，多傻呀！

夏天太热，我就解衣磅礴，挥汗如雨，冬天太冷，滴水成冰，墨蝶放在热水里解冻，毛笔套塑料袋焐在被窝里，暖在胸口上，双手各种冻疮、皲裂......三四个月不能盈握（即是冻疮、皲裂严重，双手不能正常握成拳头，咬咬牙能握住一个鸭蛋，至今因冻疮引起的灰指甲还未治愈），哪知度过了多少个霜晨夜雨。

是的，这就是我，总想看不一样的烟火。

有时为了更可能利用碎片时间，我买了袖珍本的《唐诗》、《宋词》、《元曲》等古典文学，在蹬板车送货的间隙随时拿出来读一首诗，一阕词，电梯里，楼道里，马路边，袖珍本如护身符，我一遍遍翻阅，不厌其烦，更像离家时爷爷奶奶的嘱咐，梦里的梦里，含泪咀嚼。

正是在这段极其艰苦的岁月里，我开始思考，我到底为什么活着，为什么这么辛苦的活着？为了结婚生子？为了传宗接代？拟活是为了更远大的目标？我不禁想起初中时候的一道考题：


有人问牧羊人的儿子

问：你为什么放羊啊？

答：放羊卖钱啊

问：卖了钱干嘛啊

答：卖了钱盖房啊，

问：盖了房干嘛啊，

答：盖了房娶媳妇啊，

问：娶了媳妇干嘛啊，

答：娶了媳妇生娃啊，

问：生了娃干嘛啊，

答：娃长大了继续放羊啊。

后头再想想，这太讽刺了，周围的环境何尝不是这种周而复始生存状态，如字典的规范，人生的定局，年年岁岁，世代相沿。

不，这不是我想要的生活，海域广袤，星河浩瀚，我不需要这种大多数人生字典的规范，我必须做零度的偏移，庸俗的皮囊千篇一律，有趣的灵魂万里挑一。 

我问自己到底喜欢什么，在有限的人生里值得自己去付出，去追逐。彷徨，迷茫，找不到答案，如同看不到明天，只能一头埋到故纸堆，上下求索，左右碰壁，受尽别人的轻蔑白眼，甚至家人的辱骂嘲笑，没伞的孩子只能无目的奔跑，没家的异类只能到处流浪，这露水的世，虽然露水的世，虽然如此...

【拣尽寒枝不肯栖，销售咋就这苦逼】

后来我左右辗转，做起了广告销售，起早贪黑，披霜戴月，从学习开关电脑，到能顺利完成搜集各个行业的联系资料，受过各种客户的各种虐，各种客户的各种感动，经过两年多的艰苦淬炼，终于从不起眼的角落成长起来，成交率提高，同时伴随着一种失落感，或者是良心的谴责，因为我们做的搜索引擎的竞价排名广告，客户的大部分广告费用如同石沉大海，不是被同行点击就是被我们这些各个广告平台点击，最终能有效转化的数量非常有限，尤其是一些竞争非常激烈的小行业，老板都是些农村来不懂互联网广告的农民，在交谈的过程中总有种连蒙带骗的感觉，用各种技巧、手段完成签单，各种花言巧语掩饰无效的广告投放，觉得离自己本心越来越远，逐渐开始反感这种工作性质，后来果断辞职，去过一家策划公司做线上广告维护，一家金融公司做微信运营，目前在一家传统公司打酱油。

是的，这就是我，总想看不一样的烟火。

去年的这个时间，我通过王烁公众微信关注了阳老的“心智工具箱”，利用离职后的一个月空闲时间整体的阅读了一遍阳老的文章，顿时感觉地动山摇，我自认为自己构建的那些小河、小坝顿时土崩瓦解，出现一个更光明的彼岸烟火。

错过了开智部落一期，终于在二期赶到了聚集一大批异类的驿站，通过几个月的烧脑阅读和同侪压力鞭策，我的昨天还生活在懵懵懂懂的原始世界，地还虚旷混沌、渊际晦冥、有了阳老发出的一束光，遂判光暗，乃辨日夜，以定四时年日，始知天地之广，四海之大，桃花源外，秦皇汉武，魏晋风流，今日之我，已非昨日之我也，明日之我，更胜今日之我！

异类遇见异类，异类鼓励异类，诸同侪，与共勉！

